.button {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: inherit;
  background-color: #303f9f;
  cursor: pointer;
  margin-left: 20px;
}
