.avatar {
  width: 40px;
  height: 37px;
  border-radius: 50%;
}
.container {
  display: flex;
  align-items: center;
}
.avatar span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 37px;
}
.button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  margin: 0;
  outline: none;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 200ms ease-in-out, color 200ms ease-in-out,
    border 200ms ease-in-out;
}
